.title{
  font-family: "helvetica" , sans-serif; 
  font-family: "BlinkMacSystemFont";
  font-family: "San Francisco";
  font-family: "HelveticaNeue-Light";
  font-family: "Helvetica Neue Light";
  font-family: "Helvetica Neue";
  font-family: "Segoe UI";
  font-family: "Fira Sans";
  font-family:  Roboto;
  font-family: Oxygen;
  font-family: Ubuntu;
  font-family: Droid Sans;
  font-family: Arial;
  font-size: 60px;
  text-align: center;
}